<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.CalSocial">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".CalSocialApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".ui.profile.ProfileActivity"></activity>
        <activity android:name=".ui.events.EventsActivity"></activity>

        <receiver
            android:name=".broadcastreceiver.SMSReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.homeMain.HomeMainActivity" />
        <activity android:name=".ui.onboarding.OnboardingActivity" />
        <activity
            android:name=".ui.onboarding.signUp.SignupFragment"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.ContactsSyncService"
            android:description="@string/contact_service_description" />
        <service
            android:name=".service.CalenderSyncService"
            android:description="@string/calender_service_description" />

        <activity
            android:name=".ui.splash.SplashActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login_to_be_removed.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main_to_be_removed.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.feed_to_be_removed.FeedActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.main_to_be_removed.MainActivity"
            android:screenOrientation="portrait">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main_to_be_removed.MainActivity" />
        </activity>
    </application>

</manifest>